@model CreatePropertyVM
@{
    ViewData["Title"] = "İlan Ekleme Sayfası";
    Layout = "~/Areas/AgentArea/Views/Shared/_AgentLayout.cshtml";
    //Layout = null;
}

<form asp-action="Create" enctype="multipart/form-data" method="post">
    <div class="form-group">
        <label asp-for="PropertyTitle">İlan Başlığı</label>
        <input asp-for="PropertyTitle" class="form-control" />
        <span asp-validation-for="PropertyTitle" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price">İlan Fiyatı</label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Açıklama</label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Area">Alan</label>
        <input asp-for="Area" class="form-control" />
        <span asp-validation-for="Area" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="BedroomCount">Oda Sayısı</label>
        <input asp-for="BedroomCount" class="form-control" />
        <span asp-validation-for="BedroomCount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BathCount">Banyo Sayısı</label>
        <input asp-for="BathCount" class="form-control" />
        <span asp-validation-for="BathCount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="BalconyCount">Balkon Sayısı</label>
        <input asp-for="BalconyCount" class="form-control" />
        <span asp-validation-for="BalconyCount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Floor">Kat</label>
        <input asp-for="Floor" class="form-control" />
        <span asp-validation-for="Floor" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Dues">Aidat</label>
        <input asp-for="Dues" class="form-control" />
        <span asp-validation-for="Dues" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImageUrl" class="control-label">İlan Resmi</label>
        <input type="file" name="image" asp-for="ImageUrl" class="form-control" />
    </div>
    <div class="form-check">
        <input class="form-check-input" asp-for="IsInSite">
        <label class="form-check-label" asp-for="IsInSite">
            Site İçinde
        </label>
    </div>
    <div class="form-group">
        <select asp-for="City" asp-items="ViewBag.sehir" class="form-select my-4" id="sehir">
            <option value="">Şehir Seçiniz</option>
        </select>
        <select asp-for="County" class="form-select my-4" id="ilce">
            <option value="">İlçe Seçiniz</option>
        </select>
        <select id="mahalle" class="form-select my-4" asp-for="District">
            <option value="">Mahalle Seçiniz</option>
        </select>
    </div>


    <div class="mb-3">
        <select asp-for="CategoryID" asp-items="@ViewBag.category" class="form-select">
            <option value="">Kategori Seçiniz</option>
        </select>
    </div>
    <div class="mb-3">
        <select asp-for="PropertyStatusID" asp-items="@ViewBag.status" class="form-select">
            <option value="">İlan Türü Seçiniz</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">İlan Oluştur</button>
</form>



@section Scripts {
    <script>
        $(document).ready(function () {
            $("#sehir").change(function () {
                var sehirKey = $(this).val();
                $.getJSON(`../Property/GetIlce?sehirKey=${sehirKey}`, function (data) {
                    var items = "";
                    $.each(data, function (i, ilce) {
                        items += `<option value="${ilce.ilce_key}">${ilce.ilce_title}</option>`;
                    });
                    $("#ilce").html(items);
                });
            });

            $("#ilce").change(function () {
                var ilceKey = $(this).val();
                $.getJSON(`../Property/GetMahalle?ilceKey=${ilceKey}`, function (data) {
                    var items = "";
                    $.each(data, function (i, mahalle) {
                        items += `<option value="${mahalle.mahalle_key}">${mahalle.mahalle_title}</option>`;
                    });
                    $("#mahalle").html(items);
                });
            });
        });
    </script>
    }