<!--Promotion-->

<div class="friend-agent">
    <div class="container">
        <div class="friend-grids">
            <div class="col-md-4 friend-grid">
                <img src="/web/images/p.png">
                <h4>Aradığınız Evi Hemen Bulun</h4>
                <p>Profesyonel danışmanlarımız ile hayalinizdeki ev bir tık uzağınızda...</p>
            </div>
            <div class="col-md-4 friend-grid">
                <img src="/web/images/p1.png">
                <h4>Uzman Danışmanlar</h4>
                <p>Danışmanlarımız her zaman en güncel eğitimler ile bilgilerini yeniler ve siz değerli müşterilerimize hizmet etmek için 7 gün 24 saat çalışırlar...</p>
            </div>
            <div class="col-md-4 friend-grid">
                <img src="/web/images/p2.png">
                <h4>Satın Alın Ya Da Kiralayın</h4>
                <p>İster mülk satın alın, ister kiralayın her adımda yanınızdayız...</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>