<!--Promotion-->

<div class="friend-agent">
    <div class="container">
        <div class="friend-grids">
            <div class="col-md-4 friend-grid">
                <img src="images/p.png">
                <h4>Search From Anywhere</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel.</p>
            </div>
            <div class="col-md-4 friend-grid">
                <img src="images/p1.png">
                <h4>Friendly Agents</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel.</p>
            </div>
            <div class="col-md-4 friend-grid">
                <img src="images/p2.png">
                <h4>Buy or Rent</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel.</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>