@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_HomePageLayout.cshtml";
}

<div class="content">
    <!--SearchBar-->
    @await Component.InvokeAsync("_SearchBarPartial")
    <!--SearchBar-->
    <!--Promotion-->
    @await Component.InvokeAsync("_PromotionPartial")
    <!--Promotion-->
    <!--Offering-->
    @await Component.InvokeAsync("_OfferingPartial")
    <!--Offering-->
    <!---testimonials--->
    @await Component.InvokeAsync("_TestimonialPartial")
    <!---testmonials--->
</div>
