@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@await Html.PartialAsync("/Views/_AdminPageLayoutPartial/HeadPartial.cshtml")
<body class="dashboard dashboard_1">
    <div class="full_container">
        <div class="inner_container">
            <!-- Sidebar  -->
            @await Html.PartialAsync("/Views/_AdminPageLayoutPartial/SidebarPartial.cshtml")
            <!-- end sidebar -->
            <!-- right content -->
            <div id="content">
                <!-- topbar -->
                @await Html.PartialAsync("/Views/_AdminPageLayoutPartial/NavbarPartial.cshtml")
                <!-- end topbar -->
                <!-- dashboard inner -->
                <div class="midde_cont">
                    @RenderBody()
                    <!-- footer -->
                    @await Html.PartialAsync("/Views/_AdminPageLayoutPartial/FooterPartial.cshtml")
                </div>
                <!-- end dashboard inner -->
            </div>
        </div>
    </div>
   
    @await Html.PartialAsync("/Views/_AdminPageLayoutPartial/ScriptPartial.cshtml")
</body>
</html>