
<!DOCTYPE HTML>

<html>

@await Html.PartialAsync("/Views/_HomePageLayoutPartial/HeadPartial.cshtml")

<body>

    <!---header--->
    @await Html.PartialAsync("/Views/_HomePageLayoutPartial/HeaderPartial.cshtml")
    <!---header--->
    <!---banner--->
    @await Html.PartialAsync("/Views/_HomePageLayoutPartial/BannerPartial.cshtml")
    <!---banner--->
    @RenderBody();

    <!---footer--->
    @await Html.PartialAsync("/Views/_HomePageLayoutPartial/FooterPartial.cshtml")
    <!---footer--->

    <!--copy-->
    <div class="copy-section">
        <div class="container">
            <p>&copy; 2016 Real Space. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
        </div>
    </div>
    <!--copy-->
    @await Html.PartialAsync("/Views/_HomePageLayoutPartial/LoginPartial.cshtml")
        </div>
    </div>
    <!--copy-->

    <!--copy-->

    <!-- login -->
    @await Html.PartialAsync("/Views/_HomePageLayoutPartial/LoginPartial.cshtml")
    <!-- //login -->
    <!-- Register -->
    @await Html.PartialAsync("/Views/_HomePageLayoutPartial/RegisterPartial.cshtml")
    <!-- //Register -->

</body>
</html>





<script>
    $(document).ready(function () {
        $('#submit').click(function (e) {
            e.preventDefault();

            var LoginVM = {
                Username: $('#Username').val(),
                Password: $('#Password').val()
            };
            console.log(LoginVM)
            $.ajax({
                url: '/User/Login',
                type: 'POST',
                dataType: 'json',
                data: JSON.stringify({ Username: $('#Username').val(), Password: $('#Password').val() }),
                contentType: 'application/json'              
            });

        });
    });
</script>










@*<script>
    $(document).ready(function () {
        $('#submit').click(function (e) {
            e.preventDefault();

            var username = $('#Username').val();
            var password = $('#Password').val();

            $.ajax({
                url: '/User/Login',
                type: 'POST',
                data: { 'username': username, 'password': password },
                success: function (data) {
                    
                },
                error: function (error) {
                    
                }
            });
        });
    });
</script>*@


