
<!DOCTYPE HTML>

<html>

@await Html.PartialAsync("/Views/_HomePageLayoutPartial/HeadPartial.cshtml")

<body>

    <!---header--->
    @await Html.PartialAsync("/Views/_HomePageLayoutPartial/HeaderPartial.cshtml")
    <!---header--->
    <!---banner--->
    @await Html.PartialAsync("/Views/_HomePageLayoutPartial/BannerPartial.cshtml")
    <!---banner--->
    @RenderBody();

    <!---footer--->
    @await Html.PartialAsync("/Views/_HomePageLayoutPartial/FooterPartial.cshtml")
    <!---footer--->


    @await Html.PartialAsync("/Views/_HomePageLayoutPartial/LoginPartial.cshtml")
 
                                                                 
    <!--copy-->

    <!-- login -->
    @await Html.PartialAsync("/Views/_HomePageLayoutPartial/LoginPartial.cshtml")
    <!-- //login -->
    <!-- Register -->
    @await Html.PartialAsync("/Views/_HomePageLayoutPartial/RegisterPartial.cshtml")
    <!-- //Register -->

</body>
</html>
















@*<script>
    $(document).ready(function () {
        $('#submit').click(function (e) {
            e.preventDefault();

            var username = $('#Username').val();
            var password = $('#Password').val();

            $.ajax({
                url: '/User/Login',
                type: 'POST',
                data: { 'username': username, 'password': password },
                success: function (data) {
                    
                },
                error: function (error) {
                    
                }
            });
        });
    });
</script>*@


