<div class="footer-section">
    <div class="container">
        <div class="footer-grids">
            <div class="col-md-3 footer-grid">
                <h4>Hakkımızda</h4>
                <p>Kurulduğumuz yıl 1998 den beri sizler için çalışmaktan mutluluk duyuyoruz.</p>
            </div>
            <div class="col-md-3 footer-grid">
                <h4>Hayalinizdeki Ev Bir Tık Uzağınızda</h4>
                <ul>
                    <li><a href="#">İstanbul</a></li>
                    <li><a href="#">Ankara</a></li>
                    <li><a href="#">İzmir</a></li>
                    <li><a href="#">Antalya</a></li>
                    <li><a href="#">Çanakkale</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-grid">
                <h4>Buradayız</h4>
                <ul>
                    <li><a href="terms.html">İlanlarımız</a></li>
                    <li><a href="privacy.html">Danışmanlarımız</a></li>
                    <li><a href="contact.html">Bize Ulaşın</a></li>
                </ul>
            </div>
            <div class="col-md-3 footer-grid">
                <h4>Bizimle İletişime Geçin</h4>
                <p>Ankara</p>
                <p>Çankaya</p>
                <p>Telefon :0312 234 56 78</p>
                <p>E-mail : <a href="mailto:pluto@emlak.com"> pluto@emlak.com</a></p>
            </div>
            <div class="clearfix"> </div>
        </div>

    </div>
</div>

<!--copy-->
<div class="copy-section">
    <div class="container">
        <p>&copy; @DateTime.Now.Year Real Space. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
    </div>
</div>
<!--copy-->