
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-info">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body real-spa">
                <div class="login-grids">
                    <div class="login">
                        <div class="login-right">
                            <form>
                                <h3>Register </h3>
                                <input type="text" id="Name">
                                <input type="text" id="Surname">
                                <input type="text" id="Email">
                                <input type="text" id="PhoneNumber">
                                <input type="text" id="KullaniciAdi">
                                <input type="password" id="Sifre">
                                <input type="password" id="ConfirmPassword">

                                <input type="submit" value="Register Now" id="bas">
                            </form>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <p>By logging in you agree to our <a href="#">Terms</a> and <a href="#">Conditions</a> and <a href="#">Privacy Policy</a></p>
                </div>
            </div>
        </div>
    </div>
</div>




<script>

    $(document).ready(function () {
        $('#bas').click(function (e) {
            e.preventDefault();            

            var RegisterVM = {
                Name: $('#Name').val(),
                Surname: $('#Surname').val(),
                Email: $('#Email').val(),
                PhoneNumber: $('#PhoneNumber').val(),
                Username: $('#Username').val(),
                Password: $('#Sifre').val(),
                ConfirmPassword: $('#ConfirmPassword').val()
            };
            console.log(RegisterVM)
            $.ajax({
                url: '/User/Register',
                type: 'POST',
                dataType: 'json',
                data: JSON.stringify({ Name: $('#Name').val(), Surname: $('#Surname').val(), Email: $('#Email').val(), PhoneNumber: $('#PhoneNumber').val(), Username: $('#KullaniciAdi').val(), Password: $('#Sifre').val(), ConfirmPassword: $('#ConfirmPassword').val() }),
                contentType: 'application/json'
            });

        });
    });
</script>