@model RealEstate.Entities.Entities.AppUser
<div class="header-section">
    <div class="container">
        <div class="head-top">
            <div class="social-icon">
                <a href="#"><i class="icon"></i></a>
                <a href="#"><i class="icon1"></i></a>
                <a href="#"><i class="icon2"></i></a>
                <a href="#"><i class="icon3"></i></a>
                <a href="#"><i class="icon4"></i></a>
            </div>
            <div class="email">
                <ul>
                    <li>
                        <img class="profile-image" src="@Model.ImageUrl" alt="Profil Resmi" style="width:45px;height:45px;border-radius:50%;" />
                    </li>
                    <li>
                        <span class="name_user" style="color:white;">@Model.Name @Model.Surname</span>
                    </li>
                    <li>

                        <a asp-controller="Default" asp-action="LogOut" style="color:white;text-decoration:none;">
                            Çıkış Yap
                            <i class="gg-log-out" style="color:red;"></i>
                        </a>

                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <nav class="navbar navbar-default">
            <!---Brand and toggle get grouped for better mobile display--->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">

                    <h1><a asp-controller="Home" asp-action="Index"><span><img src="~/pluto-1.0.0/images/logo/logo_icon.png" style="width:45px;height:45px;" />   Pluto </span>Emlak</a></h1>
                </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a asp-controller="Home" asp-action="Index">Ana Sayfa<span class="sr-only">(current)</span></a></li>
                    <li><a href="blog.html">İlanlar</a></li>
                    <li><a href="codes.html">İletişim</a></li>
                </ul>
                <div class="phone">
                    <span><i class="glyphicon glyphicon-phone" aria-hidden="true"></i>0312 234 56 78</span>
                </div>
                <div class="clearfix"></div>
            </div>
        </nav>
    </div>
</div>