@model List<Testimonial>

<!---testimonials--->

<div class="testimonials">
    <div class="container">
        <h3>testimonial</h3>
        <span></span>
        <div id="owl-demo" class="owl-carousel">
            @foreach (var item in Model)
            {
                <div class="item">
                    <div class="col-md-2 testmonial-img">
                        <img src="/Images/Uploads/@item.ImageUrl" class="img-responsive" alt="" />
                    </div>
                    <div class="col-md-10 testmonial-text">
                        <p>@item.Comment</p>
                        <h4><a href="#">@item.CustomerName</a></h4>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            }
        </div>
    </div>
</div>