@model IEnumerable<Property>

<div class="offering">
    <div class="container">
        <h3>Hayalinizdeki Mülkü Bizimle Bulun...</h3>
        <br />
        <div class="row">
        @foreach (var item in Model)
        {
        
                <div class="col-md-4">
                    <div class="offer-grid1">
                        <h4><a href="single.html">@item.PropertyTitle</a></h4>
                        <div class="offer1">
                            <div class="offer-left">
                                <a href="single.html" class="mask"><img src="/Images/Uploads/@item.ImageUrl" class="img-responsive zoom-img" alt="" /></a>
                            </div>
                            <div class="offer-right">
                                <h5><label>$</label> 7,500 Per Month - <span>Single Family Home</span></h5>
                                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh…</p>
                                <a href="single.html" class="button1">more details</a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
            

                <div class="clearfix"></div>
            </div>
        }
        </div>
    </div>
</div>
