@model AppUser

<nav id="sidebar">
    <div class="sidebar_blog_1">
        <div class="sidebar-header">
            <div class="logo_section">
                <a href="index.html"><img class="logo_icon img-responsive" src="images/logo/logo_icon.png" alt="#" /></a>
            </div>
        </div>
        <div class="sidebar_user_info">
            <div class="icon_setting"></div>
            <div class="user_profle_side">
                <div class="user_img"><img class="img-responsive" style="width:75px;height:75px;border-radius:50%" src="/Images/Uploads/@Model.ImageUrl" alt="Resim" /></div>
                <div class="user_info">
                    <h6>@Model.Name @Model.Surname</h6>
                    <p><span class="online_animation"></span> Çevrimiçi</p>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar_blog_2">
        <h4>Danışman Paneli</h4>
        <ul class="list-unstyled components">
            <li>
                <a asp-area="AgentArea" asp-controller="Default" asp-action="Index" aria-expanded="false"><i class="fa fa-diamond purple_color"></i> <span>Ana Sayfa</span></a>
            </li>
            <li>
                <a asp-area="AgentArea" asp-controller="Property" asp-action="Create" aria-expanded="false"><i class="fa fa-object-group blue2_color"></i> <span>İlan Ekle</span></a>
            </li>
            <li><a asp-area="AgentArea" asp-controller="Property" asp-action="Index"><i class="fa fa-table purple_color2"></i> <span>İlanlarım</span></a></li>
            <li>
                <a asp-area="AgentArea" asp-controller="Default" asp-action="Profile" aria-expanded="false"><i class="fa fa-cog yellow_color"></i> <span>Profilim</span></a>
            </li>
            <li>
                <a asp-area="AgentArea" asp-controller="Default" asp-action="Logout" aria-expanded="false"><i class="fa fa-sign-out" style="font-size:22px;color:purple"></i> <span>Çıkış Yap</span></a>
            </li>


            @* <li>
            <a href="#apps" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-object-group blue2_color"></i> <span>Apps</span></a>
            <ul class="collapse list-unstyled" id="apps">
            <li><a href="email.html">> <span>Email</span></a></li>
            <li><a href="calendar.html">> <span>Calendar</span></a></li>
            <li><a href="media_gallery.html">> <span>Media Gallery</span></a></li>
            </ul>
            </li>*@

        </ul>
    </div>
</nav>
