@using RealEstate.Entities.Entities; 
@model AppUser


<nav id="sidebar">
    <div class="sidebar_blog_1">
        <div class="sidebar-header">
            <div class="logo_section">
                <a href="index.html"><img class="logo_icon img-responsive" src="images/logo/logo_icon.png" alt="#" /></a>
            </div>
        </div>
        <div class="sidebar_user_info">
            <div class="icon_setting"></div>
            <div class="user_profle_side">
                <div class="user_img"><img class="img-responsive" src="/Images/Uploads/@Model.ImageUrl" alt="#" /></div>
                <div class="user_info">
                  <h6>@Model.Name @Model.Surname</h6>
                    <p><span class="online_animation"></span> Online</p>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar_blog_2">
        <h4>General</h4>
        <ul class="list-unstyled components">
            <li>
                <a asp-area="AdminArea" asp-controller="Category" asp-action="CreateCategory" aria-expanded="false"><i class="fa fa-diamond purple_color"></i> <span>Kategori Ekle</span></a>
            </li>
            <li><a asp-area="AdminArea" asp-controller="Category" asp-action="GetAllCategory"><i class="fa fa-table purple_color2"></i> <span>Kategoriler</span></a></li>
            <li><a asp-area="AdminArea" asp-controller="Agent" asp-action="GetAllAgents"><i class="fa fa-clone yellow_color"></i> <span>Agent Listeleme</span></a></li>
            <li><a asp-area="AdminArea" asp-controller="PropertyStatus" asp-action="Create"><i class="fa fa-briefcase blue1_color"></i> <span>Property Status Ekle</span></a></li>
            <li><a asp-area="AdminArea" asp-controller="PropertyStatus" asp-action="GetAllPropertyStatus"><i class="fa fa-briefcase blue1_color"></i> <span>Property Status Listeleme</span></a></li>
            <li><a asp-area="AdminArea" asp-controller="Testimonial" asp-action="GetAllTestimonial"><i class="fa fa-diamond purple_color"></"></i> <span>Kullanıcı Yorumları</span></a></li>
            <li><a asp-area="AdminArea" asp-controller="Property" asp-action="GetAllProperty"><i class="fa fa-map purple_color2"></i> <span>Proporty listeleme</span></a></li>
            
            
            <li><a asp-area="AdminArea" asp-controller="Default" asp-action="AdminPhoto"><i class="fa fa-cog yellow_color"></i> <span>Settings</span></a></li>
        </ul>
    </div>
</nav>