@model RealEstate.UI.Models.ConfirmEmailVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_HomePageLayout.cshtml";
}


<div style="text-align: center;">
    <br />
    <br />
    <h4> <b>Pluto Emlak Email Onay Sayfası</b></h4>
    <hr />
    <div class="row" style="display: flex; justify-content: center; align-items: center;>
        <div class="col-md-4">
            <form asp-action="Index">
                <div class="form-group">
                    <label asp-for="Username" class="control-label"></label>
                    <input asp-for="Username" class="form-control" value="@ViewBag.username" />
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmEmailCode" class="control-label"></label>
                    <input asp-for="ConfirmEmailCode" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Kaydet" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>



<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />


