@{
    Layout = null;
}


<!DOCTYPE HTML>

<html>


@await Html.PartialAsync("/Views/_HomePageLayoutPartial/HeadPartial.cshtml")

<body>

    <!---header--->
    @await Component.InvokeAsync("_CustomerNavbarPartial")
    <!---header--->
    <!---banner--->
    @await Html.PartialAsync("/Views/_HomePageLayoutPartial/BannerPartial.cshtml")
    <!---banner--->
    @RenderBody();

    <!---footer--->
    @await Html.PartialAsync("/Views/_HomePageLayoutPartial/FooterPartial.cshtml")
    <!---footer--->
    @await Html.PartialAsync("/Views/_HomePageLayoutPartial/LoginPartial.cshtml")

    <!-- login -->
    @await Html.PartialAsync("/Views/_HomePageLayoutPartial/LoginPartial.cshtml")
    <!-- //login -->
    <!-- Register -->
    @await Html.PartialAsync("/Views/_HomePageLayoutPartial/RegisterPartial.cshtml")
    <!-- //Register -->

</body>
</html>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
@RenderSection("Scriptsss", required: false)


