@using RealEstate.UI.Areas.AdminArea.Models.CategoryVMs;
@model List<GettAllCategoryViewModel>
@{
    ViewData["Title"] = "GetAllCategory";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
}
<h2>Category List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Category Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.Id</td>
                <td>@category.Name</td>

                <td><a href="/AdminArea/Category/DeleteCategory/@category.Id" class="btn btn-outline-danger">Sil</a></td>
                <td> <a href="/AdminArea/Category/UpdateCategory/@category.Id" class="btn btn-outline-primary">kategori güncelleme </a> </td>
            </tr>
        }
    </tbody>
</table>
