@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/CustomerArea/Views/Shared/_CustomerLayout.cshtml";
}

<style>
    select[disabled] {
        color: #999;
        background-color: #fff;
        opacity: 0.5;
    }
</style>

<div class="content">
    <!--SearchBar-->
    <div class="place-section">
        <div class="container">
            <h2>Hayalinizdeki Mülkü Hemen Bulun</h2>
            <div class="place-grids">
                <div class="col-md-3 place-grid">
                    <select asp-items="ViewBag.sehir" class="sel" id="sehir" autocomplete="off">
                        <option value="">İl</option>
                    </select>
                </div>
                <div class="col-md-3 place-grid">

                    <select id="ilce" class="sel" disabled>
                        <option value="">İlçe</option>
                    </select>
                </div>
                <div class="col-md-3 place-grid">

                    <select id="mahalle" class=" sel" disabled>
                        <option value="">Mahalle</option>
                    </select>
                </div>
                <div class="col-md-3 place-grid">
                    <select asp-items="ViewBag.cats" class="sel" id="category">
                        <option value="">Kategori Seçiniz</option>
                    </select>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="place-grids">
                <div class="col-md-2 place-grid1">
                    <select asp-items="ViewBag.stats" class="sel" id="status">
                        <option value="">İşlem Durumu</option>

                    </select>
                </div>
                <div class="col-md-2 place-grid1">
                    <select class="sel" id="roomNumber" autocomplete="off">
                        <option value="0" selected>Oda Sayısı</option>
                        @for (int i = 1; i < 20; i++)
                        {
                            <option value="@i">@i</option>
                        }
                    </select>
                </div>
                <div class="col-md-2 place-grid1">
                    <input type="number" class="sel" id="minPrice" placeholder="Min TL" style="-webkit-appearance: none; -moz-appearance: textfield;" autocomplete="off">
                </div>
                <div class="col-md-2 place-grid1">
                    <input type="number" class="sel" id="maxPrice" placeholder="Max TL" style="-webkit-appearance: none; -moz-appearance: textfield;" autocomplete="off">
                </div>
                <div class="col-md-4 search" style="margin-top:12px">
                    <form action="forrent.html">
                        <input type="submit" value="Ara" style="border-radius:10px">
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="row" style="margin:10px">
    </div>

    <!--SearchBar-->
    <!--Promotion-->
    @await Component.InvokeAsync("_PromotionPartial")
    <!--Promotion-->
    <!--Offering-->
    @await Component.InvokeAsync("_OfferingPartial")
    <!--Offering-->
    <!---testimonials--->
    @await Component.InvokeAsync("_TestimonialPartial")
    <!---testmonials--->
</div>

@section Scriptsss {
    <script>
        $(document).ready(function () {
            $("#sehir").change(function () {
                var sehirKey = $(this).val();
                $.getJSON(`/CustomerArea/Default/GetIlce?sehirKey=${sehirKey}`, function (data) {
                    var items = "";
                    $.each(data, function (i, ilce) {
                        items += `<option value="${ilce.ilce_key}">${ilce.ilce_title}</option>`;
                    });
                    $("#ilce").html(items);
                });
            });

            $("#ilce").change(function () {
                var ilceKey = $(this).val();
                $.getJSON(`/CustomerArea/Default/GetMahalle?ilceKey=${ilceKey}`, function (data) {
                    var items = "";
                    $.each(data, function (i, mahalle) {
                        items += `<option value="${mahalle.mahalle_key}">${mahalle.mahalle_title}</option>`;
                    });
                    $("#mahalle").html(items);
                });
            });
        });
    </script>

    <script>
        $(document).ready(function () {

            $('#ilce').prop('disabled', true);
            $('#mahalle').prop('disabled', true);


            $('#sehir').on('change', function () {
                var selected = $(this).val();
                if (selected && selected != '') {
                    $('#ilce').prop('disabled', false);
                } else {
                    $('#ilce').prop('disabled', true);
                    $('#mahalle').prop('disabled', true);
                }
            });

            $('#ilce').on('change', function () {
                var selected = $(this).val();
                if (selected && selected != '') {
                    $('#mahalle').prop('disabled', false);
                } else {
                    $('#mahalle').prop('disabled', true);
                }
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $('.search form').on('submit', function (e) {
                e.preventDefault();

                var sehir = $('#sehir').val();
                var ilce = $('#ilce').val();
                var mahalle = $('#mahalle').val();
                var category = $('#category').val();
                var status = $('#status').val();
                var roomNumber = $('#roomNumber').val();
                var minPrice = $('#minPrice').val();
                var maxPrice = $('#maxPrice').val();

                var vm = {
                    sehir: sehir,
                    ilce: ilce,
                    mahalle: mahalle,
                    category: category,
                    status: status,
                    roomNumber: roomNumber,
                    minPrice: minPrice,
                    maxPrice: maxPrice
                };
                console.log(vm)
                console.log(JSON.stringify({ vm: vm }));
                $.ajax({
                    url: '../Default/SearchFilter',
                    type: 'POST',
                    dataType: 'json',
                    data: JSON.stringify({ sehir: $('#sehir').val(), ilce: $('#ilce').val(), mahalle: $('#mahalle').val(), category: $('#category').val(), status: $('#status').val(), roomNumber: $('#roomNumber').val(), minPrice: $('#minPrice').val(), maxPrice: $('#maxPrice').val() }),
                    contentType: 'application/json',
                    success: function (response) {
                        let values = jQuery.parseJSON(response)

                        console.log(response);
                        var htmlContent = "";

                        $.each(values, function (index, item) {
                            htmlContent += `



                                                    <div class="col-md-4 offer-grid">
                                                        <div class="offer-grid1">
                                                             <div class="offer1">
                                                                 <div class="offer-left">
                                         <h4><a href="single.html">Villa In Hialeah, Dade County</a></h4><a href="single.html" class="mask">
                                         <img src="images/p3.jpg" class="img-responsive zoom-img" alt=""></a>
                                    </div>
                                <div class="offer-right">
                                    <h5><label>$</label> 7,500 Per Month - <span>Single Family Home</span></h5>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh…</p>
                                    <a href="single.html" class="button1">more details</a>
                                    </div>
                                    <div class="clearfix"></div>
                            </div>
                            </div>
                            </div>



                                                <div class="col-md-4">
                                                    <div class="offer-grid1">
                                                      <h4><a href="single.html">${item.PropertyTitle} - ${item.City}/${item.County}/${item.District} </a></h4>
                                                        <div class="offer1">
                                                            <div class="offer-left">
                                                                <a href="single.html" class="mask"><img src="../Images/Uploads/${item.ImageUrl}" class="img-responsive zoom-img" alt="" /></a>
                                                            </div>
                                                            <div class="offer-right">
                                                                                        <h5><label>TL</label> ${item.Price} - <span> ${item.Area} M²- ${item.BedroomCount} Oda</span></h5>
                                                                                <p>${item.Description}</p>
                                                                <a href="single.html" class="button1">Detaylı İncele</a>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                        </div>
                                                    </div>
                                                    <div class="clearfix"></div>
                                                </div>`;
                        });

                        $(".row").html(htmlContent);
                    },

                    error: function (error) {

                        console.error(error);
                    }
                });
            });
        });

    </script>


    }
