@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/CustomerArea/Views/Shared/_CustomerLayout.cshtml";
}


<div class="content">

    <!--SearchBar-->
    @await Component.InvokeAsync("_CustomerSearchBarPartial")
    <!--SearchBar-->
    <!--Promotion-->
    @await Component.InvokeAsync("_PromotionPartial")
    <!--Promotion-->
</div>

